.root {
    -fx-font-size: 1.25em;
    -fx-font-family: "Lato";

    -primary: #8b5e5f;
    -primary-lighter: derive(-primary, 16%);
    -primary-darker: derive(-primary, -16%);
    -green: #76a576;
    -primary-grey: #948787;

    -background: #f4f4f4;

    -fx-focus-color: -primary-lighter;
    -fx-faint-focus-color: transparent;
    /*-fx-hover-base: green;*/
    -fx-accent: -primary-lighter;
    /*-fx-background-radius: 0;*/

}

.font-weight-bolder {
    -fx-font-weight: bolder
}

.table-cell {
    /*-fx-background-color: green;*/
    -fx-max-height: 3em;
    -fx-pref-height: 3em;
    -fx-text-overrun: ellipsis;

}

.choice-box {
    -fx-background-color: white;
    /*-fx-background-color: #b18282;*/
}

.choice-box > .open-button > .arrow {
    -fx-background-color: -primary-lighter -primary-lighter;
}

.choice-box > .label {
    -fx-text-fill: black;
}

.choice-box .context-menu {
    -fx-background-color: white;
    -fx-background-radius: 4px;
}

.menu > .label {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}

.menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.context-menu > .menu-item > .label {
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: white;
}

.check-box > .box {
    -fx-background-color: -fx-shadow-highlight-color, -primary-lighter, -primary-lighter, -primary-lighter;
}

.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

.check-box-tree-cell > .check-box:selected > .box > .mark {
    -fx-background-color: white;
}
.check-box-tree-cell:focused > .check-box:selected > .box > .mark {
    -fx-background-color: -primary-lighter;
}

.check-box-tree-cell {
    -fx-background-color: -background;
}
.check-box-tree-cell:focused,
.check-box-tree-cell:selected {
    -fx-background-color: -primary-lighter;
    -fx-background-radius: 4px;
}

.check-box-tree-cell:selected > .text,
.check-box-tree-cell:focused > .text {
    -fx-fill: white;
}

.check-box-tree-cell:selected > .check-box > .box,
.check-box-tree-cell:focused > .check-box > .box {
    -fx-background-color: white;
}

.check-box-tree-cell:selected > .check-box:selected > .box > .mark {
    -fx-background-color: -primary-lighter;
}

.table-view, .tree-view {
    -fx-background-color: -background;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.text-area, .text-area .content {
    -fx-background-color: -background;
}

.table-view > .column-header-background > .filler,
.table-view > .column-header-background > .nested-column-header > .column-header,
.table-view > .column-header-background > .nested-column-header > .column-header > .label {
    -fx-background-color: -primary;
    -fx-text-fill: white;
}

/*Custom Classes */

.btn-primary {
    -fx-background-color: -primary;
    -fx-text-fill: white;
}
.btn-primary:hover {
    -fx-background-color: derive(-primary, -10%);
}
.btn-white {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.btn-white:hover {
    -fx-background-color: derive(white, -10%);
}

.btn-green {
    -fx-background-color: -green;
    -fx-text-fill: white;
}
.btn-green:hover {
    -fx-background-color: derive(-green, -10%);
}

.btn-grey {
    -fx-background-color: -primary-grey;
    -fx-text-fill: white;
}
.btn-grey:hover {
    -fx-background-color: derive(-primary-grey, -10%);
}

#mainGridPane {
    -fx-border-color: -primary-darker;
    -fx-border-width: 0;
}

.tree-view, .table-view {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: -primary-darker;
}

#resultTable {
    -fx-background-color: -primary, -background;
    -fx-background-insets: 0, 1 1 0 2, 0;
    -fx-background-radius: 0;
}

.tab-pane .tab-content-area {
    -fx-border-width: 0 1px 0 2px;
    -fx-border-color: -primary-darker;
}

.tab-pane:top .tab-container .focus-indicator {
    -fx-border-width: 0 0 0 0;
}

.tab {
    -fx-background-color: -primary-darker;
    -fx-background-insets: 1 1 0 1;
}
.tab .tab-container .tab-label {
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: -background;
    /*-fx-background-insets: 0 1 0 0, 1 2 0 1, 2 3 0 2;*/
    -fx-background-insets: 1 1 0 1;
}

.tab:selected .tab-container .tab-label {
    -fx-text-fill: -fx-text-base-color;
}

.tab-container:selected {
    -fx-border-width: 0px;
}

.h-100 {
    -fx-fill-height: true;
}

.h-box {
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-color: -primary;
}

.text-field-no-border {
    -fx-border-style: none;
    -fx-border-width: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: white;
}

.btn-no-bg-radius {
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    /*-fx-background-insets: 0 0 -1 0, 0, 1, 2;*/
}
.btn-no-bg-radius:focused {
    /*-fx-background-color: none, none, none, none, none;*/
    -fx-background-radius: 0px;
    /*-fx-background-insets: -0.2, 1, 2, -1.4, 2.6;*/
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    /*-fx-background-radius: 3, 2, 1, 4, 1;*/
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -primary-lighter;
    /*-fx-border-width: 2px 0 0 0;*/
    /*-fx-border-color: -primary-darker;*/
}

#mainLogo {
    -fx-font-size: 2.3em;
    -fx-font-weight: 900;
    -fx-padding: 0 0 0 0.1em;
}

#menuBox {
    -fx-pref-height: 60px;
    -fx-background-color: -primary-lighter;
    -fx-border-width: 0;
}

#menuBar {
    -fx-background-color: none;
    -fx-pref-height: 60px;
    -fx-alignment: center-left;
}

#bottomMenuBox {
    -fx-background-color: -primary-lighter;
}

/* Scrollbars */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 15.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 15.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -primary;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(-primary, -10%);
}



.dialog-pane {
    -fx-padding: 0;
}

.dialog-pane > .expandable-content {
    -fx-padding: 0.666em; /* 8px */
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 0.833em; /* 10px */
    /*-fx-background-color: -primary-lighter;*/
}

.dialog-pane > .content.label {
    -fx-alignment: top-left;
    -fx-padding: 1.333em 0.833em 0 0.833em; /* 16px 10px 0px 10px */
}

.dialog-pane > .content {
    -fx-padding: 0.833em; /* 10 */
}

/*.dialog-pane:no-header > * > .graphic-container {*/
/*    -fx-padding: 0.833em 0 0 0.833em; !* 10px 0px 0px 10px *!*/
/*}*/

/*.dialog-pane:header .header-panel {*/
/*    !*-fx-padding: 0.833em 1.166em 0.833em 1.166em; *!!* 10px 14px 10px 14px *!*/
/*    -fx-padding: 0.833em; !* 10px *!*/
/*    -fx-background-color: -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 30%));*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*}*/

/*.dialog-pane:header .header-panel .label {*/
/*    -fx-font-size: 1.167em; !* 14px *!*/
/*    -fx-wrap-text: true;*/
/*}*/

/*.dialog-pane:header .header-panel .graphic-container {*/
/*    !* This prevents the text in the header running directly into the graphic *!*/
/*    -fx-padding: 0 0 0 0.833em; !* 0px 0px 0px 10px *!*/
/*}*/

.dialog-pane > .button-bar > .container > .details-button {
    -fx-alignment: baseline-left;
    -fx-focus-traversable: false;
    -fx-padding: 0.416em; /* 5px */
}

/*.dialog-pane > .button-bar > .container > .details-button.more {*/
/*    -fx-graphic: url("dialog-more-details.png");*/
/*}*/

/*.dialog-pane > .button-bar > .container > .details-button.less {*/
/*    -fx-graphic: url("dialog-fewer-details.png");*/
/*}*/

.dialog-pane > .button-bar > .container > .details-button:hover {
    -fx-underline: true;
}

.button,
.check-box,
.tab,
.choice-box,
.scroll-bar,
.table-view .column-header,
.menu,
.menu-item{
    -fx-cursor: hand;
}